.footer {
  background: #292929;
  &__wrap {
    display: flex;
    align-items: center;
    padding: 35px 0;
    justify-content: space-between;

    @include tablets {
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 30px;
      justify-content: center;
    }

  }
  &__column {
    @include tablets {
        width: 100%;
    }
    &_pos_1 {
      display: flex;
      align-items: center;
      max-width: 168px;
      @include tablets {
          justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
      }



    }
    &_pos_2 {
      position: relative;
      @include tablets {
        justify-content: center;
        display: flex;
        align-items: flex-start;
      }

    }

  }
  &__logo {

    @include phones {
        max-width: 132px;
    }
    &_pos_1 {
      margin-right: 50px;
      @include phones {
        margin-right: 35px;
      }
      .footer__logo {
        max-width: 168px;
        display: block;
        @include phones {
          max-width: 150px;
        }
      }

    }
    &_pos_2 {

      .footer__logo {
        max-width: 150px;
        display: block;
        @include phones {
          max-width: 132px;
        }
      }

    }

  }
  &__logo-img {

  }
  &__soc-wrap {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    @include tablets {
      margin: 0 -15px;
    }

  }
  &__soc-item {
    margin: 0 8px;
    position: relative;
    @include tablets {
      margin: 0 15px;
    }

  }
  &__soc-img {

  }
  &__soc-img-box {
    background: #8C25EE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    @include tablets {
      width: 30px;
      height: 30px;
    }
  
    &_show-phones {
      display: none;
      @include tablets {
          display: flex;
      }
    }
    

  }
  &__soc-img {
    &_pos_1 {
      width: 18px;

    }
    &_pos_2 {
      width: 7px;


    }
    &_pos_3 {
      width: 14px;
    }

  }
  &__soc-text {
    font-weight: normal;
    font-size: 14px;
    text-align: right;


    color: #FFFFFF;
    @include tablets {
        display: none;
    }

  }
  &__bottom {
    display: none;
    @include tablets {
        display: block;


      /* or 17px */

     text-align: center;
      padding-bottom: 30px;

    }

  }
  &__bottom-text {
    color: #FFFFFF;
    font-size: 14px;
  }
  &__note-box {
    position: absolute;
    top: -77px;
    right: 117px;
    @include tablets {

      display: none;
    }

  }

}