.modal-souvenir {
  background: transparent;
  padding: 40px 25px 70px 40px;
  z-index: 200;
  max-width: 1070px;

  margin: 0 auto;
  &_mod_1 {
    padding-bottom: 50px;
  }


  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;


  /*  Установаем ширину окна  */
  width: 100%;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  &.active {
    opacity: 1;
    visibility: visible;
  }






  @include tablets {
    padding: 0 0 30px;
  }
  @include phones {
    max-height: 100%;
    overflow-y: auto;

  }
  background: linear-gradient(60.44deg, #5300a2 29.58%, #9425ee 94.24%);
  /* pop up */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  &__title {
    font-weight: bold;
    font-size: 28px;
    color: #fff50a;
    margin-bottom: 18px;
    @include tablets {
      font-size: 15px;
    }
    &_size_min {
      font-size: 24px;
    }
    br {
      display: none ;
    }
    &_mod_1 {
      br {
        display: inline-block ;
      }


    }

  }


  &__desc {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: -20px;
    @include tablets {
      font-size: 12px;
      margin-bottom: -10px;
    }
    &_mod_1 {
      //margin-bottom: 45px;
      margin-bottom: 5px;
    }
  }

  &__wrap {
    display: flex;
    margin: 0 -25px;
    @include tablets {
      margin: 0;
    }
  }

  &__column {
    margin: 0 25px;
    @include tablets {
      margin: 0;
    }


    &_pos_0 {
      display: none;
      @include tablets {
        display: block;
        width: 100%
      }
    }

    &_pos_1 {
      width: calc(52% - 50px);
      padding-top: 40px;
      @include tablets {
          width: 100%;
      }
    }

    &_pos_2 {
      width: calc(48% - 50px);
      @include tablets {
        display: none;
      }
    }
  }

  &__content {
    max-width: 360px;
  }

  &__title {
  }

  &__img-box {
    max-width: 480px;
    max-height: 327px;
    @include tablets {
      max-height: none;
      max-width: 270px;
      margin: 0 auto;

    }
    &_mod_2 {
      max-height: 270px ;
      max-width: 380px;


    }
    &_mod_1 {
      max-height: 269px;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -107px;
    right: -51px;
    @include laptop {
      top: -60px;
    }
    @include tablets {
      position: static;
    }
    &_mod_2 {
      top: -30px;
      right: 0px;

    }
  }



  .fancybox-close-small {
    position: absolute;
    top: 94px;
    right: 93px;
    color: #ffffff;
    font-size: 30px;
    @include tablets {
      top: 5px;
      right: 5px;
    }
  }

  &__close {
    position: absolute;
    right: -5px;
    top: -20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    @include tablets {
      top: 17px;
      right: 18px;

    }

  }

  &__close-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .modal-form__btn-wrap{
    margin-top: 10px;
    @include tablets {
        max-width: 312px;
      margin-right: auto;
      margin-left: auto;
    }
    @include phones {
      margin-top: 30px;
    }
  }
  .modal-form__input {
    height: 44px;
  }
  .modal-form__content {
    margin-bottom: 0;
  }
  &__note {
    font-size: 16px;
    padding-top: 30px;

    color: #FFFFFF;
    margin-bottom: -30px;

    @include tablets {
      font-size: 12px;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
  &_mod_1 {
    .main-checkbox {
      margin-top: 20px;
    }
  }
}

