.today-page {
  &__row {
    display: flex;
    @include phones {
      flex-wrap: wrap;
    }
  }

  &__column {
    position: relative;
    width: 50%;
    @include phones {
      width: 100%;
    }

    &_pos_1 {
    }

    &_pos_2 {
    }

    &_count_1 {
      height: 453px;
      @include phones {
        width: 100%;
      }
    }

    &_count_2 {
      height: 453px;
      @include phones {
        width: 100%;
        height: 275px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 99%;
        width: 2000px;
        height: 100%;
        background: #1f636b;
      }
    }

    &_count_3 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    &_count_4 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    &_count_5 {
      height: 436px;


    }

    &_count_6 {
      height: 436px;
      @include phones {
       height: 442px;
      }

    }
  }

  &__item {
    flex-grow: 1;
    position: relative;

    &_pos_1 {
      height: 453px;
      @include phones {
        height: 447px;
        order: 1;

      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 2000px;
        height: 100%;
        background: linear-gradient(0deg, #feba36 16.64%, #fedc32 83.56%), #fedd30;
        @include phones {
          left: -20px;
        }
      }
    }

    &_pos_2 {
     height: 725px;
      @include laptop {
       height: 453px;
      }
      @include phones {
       height: 453px;
        order: 3;
      }
    }

    &_pos_3 {
      height: 682px;
      @include laptop {
        height: 453px;
      }
      @include phones {
        height: 375px;
        order: 2;

      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 2000px;
        height: 100%;
        background: #cfb4fc;
      }
    }

    &_pos_4 {
      height: 496px;
      @include laptop {
        height: 453px;

      }
      @include phones {
        order: 4;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 2000px;
        height: 100%;
        background: url("../img/main/flash.png") repeat-x top right;
        transform: scaleX(-1);
      }
    }
  }
}


