.today-page {
  &__row {
    display: flex;
    @include phones {
        flex-wrap: wrap;
    }
  }

  &__column {
    position: relative;
    width: 50%;
    @include phones {
        width: 100%;
    }

    &_pos_1 {
    }

    &_pos_2 {
    }

    &_count_1 {
      min-height: 453px;
      @include phones {
       height: 453px;
        min-height: auto;
        width: 100%;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 2000px;
        height: 100%;
        background: #8c25ee;
        @include phones {
          left: -20px;
        }
      }
    }

    &_count_2 {
      min-height: 453px;
      @include phones {

        width: 100%;
        height: 275px;
        min-height: auto;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 99%;
        width: 2000px;
        height: 100%;
        background: #1f636b;
      }
    }

    &_count_3 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

    }

    &_count_4 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

    }

    &_count_5 {
      min-height: 436px;
      @include phones {
          order: 2;
        height: 436px;
        min-height: auto;
      }

      //&::before {
      //  content: '';
      //  display: block;
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  right: 100%;
      //  width: 2000px;
      //  height: 100%;
      //  background: linear-gradient(254.7deg, #00BDE7 5.93%, #A5DEFF 92.14%);
      //  transform: rotate(-180deg);        @include phones {
      //    left: -20px;
      //  }
      //}

    }

    &_count_6 {
      min-height: 436px;

      @include phones {
        order: 1;
        height: 436px;
        min-height: auto;
      }

      //&::before {
      //  content: '';
      //  display: block;
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  left: 100%;
      //  width: 2000px;
      //  height: 100%;
      //  background: #D0A4E3;
      //  @include phones {
      //    left: -20px;
      //  }
      //}



    }

  }






  &__item {
    flex-grow: 1;
    position: relative;

    &_pos_1 {
      min-height: 453px;
      @include phones {
          height: 375px;
        min-height: auto;
      }


      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 2000px;
        height: 100%;
        background: linear-gradient(0deg, #FEBA36 16.64%, #FEDC32 83.56%), #FEDD30;
        @include phones {
          left: -20px;
        }
      }


    }

    &_pos_2 {
      min-height: 725px;
      @include laptop {
        min-height: 453px;
      }
      @include phones {
        min-height: 453px;

      }





    }
    &_pos_3 {
      min-height: 682px;
      @include laptop {
        min-height: 453px;
      }
      @include phones {
        height: 375px;
        min-height: auto;
      }


      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 2000px;
        height: 100%;
        background:  #CFB4FC;
      }




    }
    &_pos_4 {
      min-height: 496px;
      @include laptop {
        height: 453px;
        min-height: auto;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 2000px;
        height: 100%;
        background: url("../img/main/flash.png") repeat-x top right;
      transform: scaleX(-1);
      }


    }






  }
}


