.today-say {
  height: 100%;
  padding: 60px 30px 55px 0;
  position: relative;




  display: block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 100%;
    background: linear-gradient(254.7deg, #A5DEFF 5.93%, #00BDE7 87.65%);
    @include phones {
        right: -20px
    }
  }


  &__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0;
    transition: .2s ease;
    z-index: 2;
    pointer-events: none;
    @include phones {
      display: none;
    }
    &_pos_left{
      width: 2000px;
      left: auto;
    }
    &_pos_right{
      width: 2000px;
      right: auto;
    }
  }
  &:hover {
    .today-say__title {
      text-decoration: underline;
    }

    .today-say__desc {
      text-decoration: underline;
    }

    .today-say__shadow {  opacity: 0.2;}
  }


  &__container {
  }

  &__wrap {
    @include phones {
      display: flex;
      flex-direction: column;
    }
  }

  &__column {
    &_pos_1 {


    }

    &_pos_2 {

    }
  }

  &__content {
    position: relative;
    z-index: 5;

  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 20px;

    @include tablets {
      font-size: 25px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: -30px;
    @include laptop {
      margin-bottom: 0;
    }
    @include tablets {
      font-size: 14px;
    }
    @include phones {
      margin-bottom: 30px;
    }


  }

  &__img-box {
    z-index: 5;
    position: relative;


  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}