extend include/template_base

include include/blocks/main-form
include include/blocks/decor-live


block variables
	-
		var title = 'Банк России';

block content
	.brain-page
		.brain-page__container.main-container
			.brain-page__wrap
				.brain-page__column.brain-page__column_pos_1
					.brain-page__content
						.brain-page__main-title
							| Мозгобойня
						.brain-page__desc
							p «Мозгобойня» — увлекательная интеллектуальная игра. И сегодня она будет посвящена финансовой грамотности! Соберите от 2 до 7 друзей, зарегистрируйтесь – и вперед!
							p Каждый член команды может подключиться удаленно со своего устройства, игра длится 1 час 30 минут. Количество мест ограничено, регистрация закрывается за 15 минут до начала игры.
					.brain-page__btn-wrap
						a(href="#").brain-page__btn.btn Зарегистрироваться

				.brain-page__column.brain-page__column_pos_2
					.brain-page__img-box
						img(src="assets/img/main/brain-box.png", alt='').brain-page__img







