extend include/template_base

include include/blocks/modal-souvenir_one
include include/blocks/modal-souvenir_second
include include/blocks/decor-live
include include/blocks/main-screen
include include/blocks/timetable
include include/blocks/main-box


block variables
	-
		var title = 'Банк России';

block content
	.fonts-test.main-container
		.fonts-test__item
			.fonts-test__regular
				| Regular 400
				br
				| Almost before we knew it, we had left the ground.
				br
				| Я иду на День  открытых дверей  Банка России
		.fonts-test__item
			.fonts-test__medium
				| Medium 500
				br
				| Almost before we knew it, we had left the ground.
				br
				| Я иду на День  открытых дверей  Банка России
		.fonts-test__item
			.fonts-test__bold
				| Bold 700
				br
				| Almost before we knew it, we had left the ground.
				br
				| Я иду на День  открытых дверей  Банка России
		.fonts-test__item
			.fonts-test__extra-bold
				| Extra-bold 800
				br
				| Almost before we knew it, we had left the ground.
				br
				| Я иду на День  открытых дверей  Банка России
		.fonts-test__item
			.fonts-test__black
				| Black 900
				br
				| Almost before we knew it, we had left the ground.
				br
				| Я иду на День  открытых дверей  Банка России
