extend include/template_base






block variables
	-
		var title = 'Банк России';

block content
	.game-page(data-game-page)
		.game-page__container.main-container
			.game-page__top
				.game-page__main-title
					| Банк России:
					br
					|Тетрис-симулятор
				.game-page__subtitle
					| Банк России регулирует весь финансовый рынок, но знаешь ли ты из каких секторов он состоит? Проверь в финансовом тетрисе!
			.game-page__wrap
				.game-page__inner-wrap
					a.game-page__game-wrap(  href="#modal-game" id="start_game" data-fancybox='game')
						img(src="assets/img/main/game_tetris.jpg", alt='').game-page__game-img

					.game-page__game-wrap-mobile
						.game-page__game-content-mobile
							.game-page__game-mobile-img-box
								img(src="assets/img/main/game-mobile.svg", alt='').game-page__game-mobile-img
							.game-page__game-mobile-title
								| Для игры в тетрис-симулятор
								br
								| разверите экран


		#test-box
			#inner-test-box
		#game_script
		#modal-game.modal-game()
			.pre-loader
				h3.title LOADING...
				.progress-bar
					.fill(style='width:20%;') 10%
			#outergameBox
				#gameBox
					#gameContainer








