extend include/template_base

include include/blocks/modal-souvenir_one
include include/blocks/modal-souvenir_second
include include/blocks/decor-live
include include/blocks/main-screen
include include/blocks/timetable
include include/blocks/main-box


block variables
	-
		var title = 'Банк России';

block content
	a.js-open-modal.modal-box__btn(href='#' data-modal-box='1') Открыть окно 1
	a.js-open-modal.modal-box__btn(href='#' data-modal-box='2') Открыть окно 2
		// Несколько модальных окон
	.modal-box(data-modal-box='1')
		// Svg иконка для закрытия окна
		svg.modal-box__cross.js-modal-close(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
			path(d='M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z')
		p.modal-box__title Заголовок окна 1
	.modal-box(data-modal-box='2')
		// Svg иконка для закрытия окна
		svg.modal-box__cross.js-modal-close(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
			path(d='M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z')
		p.modal-box__title Заголовок окна 2
	// Подложка под модальным окном
	.overlay-box.js-overlay-modal
	+main-screen()
		+timetable()
		+main-box()