extend include/template_base

include include/blocks/main-form
include include/blocks/decor-live


block variables
	-
		var title = 'Банк России';

block content
	.video-page
		.video-page__container.main-container
			.video-page__wrap
				.video-page__live
					+decor-live({"title": "live"})
				.video-page__main-title
					| Дом для банка:
					br
					| тайны зданий и хранилищ
				.video-page__desc
					|Банковские здания — это не только красивая архитектура, но и функциональность. Что же включает в себя концепция «дом для банка»? Узнайте тайны банковских особняков, построенных по последнему слову техники известными архитекторами.
				.video-page__person
					.video-page__img-box
						img.video-page__img(src="assets/img/c/video.png", alt='')
					.video-page__person-desc
						| Прямой эфир с историком Банка России
						br
						b Ириной Левичевой
				.video-page__video-box
					iframe( class="video-page__video" width='560' height='315' src='https://www.youtube.com/embed/Y421bWMelqE' frameborder='0' allowfullscreen='')
				.video-page__note Задавайте свои вопросы в комментариях к трансляции (гиперссылка), на самые интересные ответим в эфире!




