
mixin history-screen(data)
	a(href="#").history-screen&attributes(attributes)
		.history-screen__shadow
		.history-screen__container.main-container
			.history-screen__wrap
				.history-screen__column.history-screen__column_pos_1
					.history-screen__content
						.history-screen__title
							| 160 лет истории
						.history-screen__desc
							| Узнайте главные вехи в истории главного банка страны
				.history-screen__column.history-screen__column_pos_2
					.history-screen__img-box
						img.history-screen__img.history-screen__img_show_desc(src="assets/img/main/man.png", alt='')

