
mixin history-facts(data)
	a(href="#").history-facts&attributes(attributes)
		.history-facts__shadow.history-facts__shadow_pos_left
		.history-facts__container
			.history-facts__wrap
				.history-facts__content
					.history-facts__title
						| 160 фактов
						br
						|  о Центральном банке
					.history-facts__desc
						| Самые любопытные факты о Центральном Банке — с 1860 года и до наших дней
