
mixin history-video-tour(data)
	a(href="#").history-video-tour&attributes(attributes)
		.history-video-tour__shadow.history-video-tour__shadow_pos_left
		.history-video-tour__container
			.history-video-tour__wrap
				.history-video-tour__column.history-video-tour__column_pos_1
					.history-video-tour__img-box
						img.history-video-tour__img.history-video-tour__img_show_desc(src="assets/img/main/virtual-tour.png", alt='')


				.history-video-tour__column.history-video-tour__column_pos_2
					.history-video-tour__content
						.history-video-tour__title
							| Видеоэкскурсия  по
							br
							| Нижнему Новгороду
						.history-video-tour__desc
							| Знакомство с Нижегородским отделением Государственного банка — выдающимся памятником неорусского стиля

