
mixin history-film(data)
	.history-film&attributes(attributes)
		.history-film__container
			.history-film__wrap
				.history-film__column.history-film__column_pos_1
					.history-film__img-box
						img.history-film__img.history-film__img_show_desc(src="assets/img/main/virtual-tour.png", alt='')


				.history-film__column.history-film__column_pos_2
					.history-film__content
						.history-film__title
							| Фильм   «Открывая Банк России»
						.history-film__desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

