
mixin history-facts(data)
	a(href="#").history-facts&attributes(attributes)
		.history-facts__shadow.history-facts__shadow_pos_left
		.history-facts__container
			.history-facts__wrap
				.history-facts__content
					.history-facts__title
						| 160 фактов
					.history-facts__desc
						| о деньгах и работе Центрального банка
						br
						| с 1860 года до наших дней
