
mixin history-virtual-tour(data)
	a(href="#").history-virtual-tour&attributes(attributes)
		.history-screen__shadow.history-screen__shadow_pos_right
		.history-virtual-tour__container
			.history-virtual-tour__wrap
					.history-virtual-tour__content
						.history-virtual-tour__title
							| Виртуальная экскурсия
						.history-virtual-tour__desc
							| Прогулка по музею и историческому зданию Банка России на Неглинной

