mixin history-video-tour(data)
	a(href="#").history-video-tour&attributes(attributes)
		.history-screen__shadow.history-screen__shadow_pos_left
		.history-video-tour__container
			.history-video-tour__wrap
				.history-video-tour__content
					.history-video-tour__title
						| В гости
						br
						|  в Нижний Новгород
					.history-video-tour__desc
						| Познакомьтесь с выдающимся памятником архитектуры – зданием Волго-Вятского главного управления Банка России
						|

