mixin history-finance(data)
	.history-finance&attributes(attributes)
		.history-finance__container
			.history-finance__wrap
				.history-finance__column.history-finance__column_pos_1
					.history-finance__content
						.history-finance__title
							| Викторина
							br
							| «История финансов»
						.history-finance__desc Отличите правду от выдумки в исторической викторине

				.history-finance__column.history-finance__column_pos_2
					.history-finance__img-box
						img.history-finance__img.history-finance__img_show_desc(src="assets/img/main/history-finance.png", alt='')