
mixin history-virtual-tour(data)
	a(href="#").history-virtual-tour&attributes(attributes)
		.history-screen__shadow.history-screen__shadow_pos_left
		.history-virtual-tour__container
			.history-virtual-tour__wrap
				.history-virtual-tour__column.history-virtual-tour__column_pos_1
					.history-virtual-tour__img-box
						img.history-virtual-tour__img.history-virtual-tour__img_show_desc(src="assets/img/main/virtual-tour.png", alt='')


				.history-virtual-tour__column.history-virtual-tour__column_pos_2
					.history-virtual-tour__content
						.history-virtual-tour__title
							| Виртуальная экскурсия
						.history-virtual-tour__desc
							| Прогулка по музею и историческому зданию Банка России на Неглинной

