mixin main-menu()
	ul.main-menu(data-main-menu)
		li.main-menu__item.active(data-main-menu-item)
			.main-menu__link(href="index.html") Главная
		li.main-menu__item(data-main-menu-item )
			.main-menu__link 160 лет истории
		li.main-menu__item(data-main-menu-item )
			.main-menu__link Банк России сегодня
		li.main-menu__item(data-main-menu-item )
			.main-menu__link Финансовый практикум
