include main-checkbox

mixin main-form(data)
	.main-form&attributes(attributes)

		.main-form__container
			.main-form__wrap
				form.main-form__content(data-main-form)
					.main-form__form
						.main-form__input-wrap(data-main-form-input-wrap)
							input(placeholder="Имя и Фамилия" type="text" data-main-form-input="name").main-form__input
						.main-form__input-wrap(data-main-form-input-wrap)
							input(placeholder="E-mail" type="email" data-main-form-input="email").main-form__input
						.main-form__input-wrap(data-main-form-input-wrap)
							textarea(placeholder="Сообщение" type="text" data-main-form-input="textarea").main-form__input.main-form__input_textarea
						.main-form__checkbox(data-main-form-input-wrap)
							+main-checkbox()(data-main-form-input="checkbox")

							.main-form__btn-wrap
								button.main-form__btn.btn(data-main-form-btn) Отправить