mixin random-screen(data)
	#random-screen.random-step.random-step_bg_first&attributes(attributes)
		.random-step__container
			.random-step__wrap.random-step__wrap_bg_first
				.random-step__content
					.random-step__pretitle
						| Моя новая полезная привычка:
					.random-step__main-title
						| Вести учет доходов
						br
						| и расходов
				.random-step__btn-wrap-white
					.random-step__btn-white Сгенерировать

