mixin random-step(data)
		#modal-game-random.random-step&attributes(attributes)
				.random-step__container
					.random-step__wrap
						.random-step__top
							.random-step__content
								.random-step__title
									| Вести учет доходов и расходов
								.random-step__desc
									p
										| Учет расходов и доходов поможет понять, на что уходят деньги, каких трат можно было бы избежать и какую сумму с зарплаты вы могли бы откладывать, чтобы накопить на крупную покупку.
									p
										| А делать это можно как угодно – с помощью сервисов финансового планирования, простой таблицы в Excel, в банковском приложении или в записной книжке.
									p
										| Узнайте больше о финансовом планировании на
										a(href="")
											b fincult.info
						.random-step__bottom
							.random-step__column.random-step__column_pos_1
								.random-step__btn-wrap
									.random-step__btn Сгенерировать еще
							.random-step__column.random-step__column_pos_2
								.random-step__soc
									.random-step__soc-list
										a(href="#").random-step__soc-item
											img(src="assets/img/random/fb.svg", alt='').random__img
										a(href="#").random-step__soc-item
											img(src="assets/img/random/vk.svg", alt='').random__img
										a(href="#").random-step__soc-item
											img(src="assets/img/random/ok.svg", alt='').random__img
										a(href="#").random-step__soc-item
											img(src="assets/img/random/tw.svg", alt='').random__img


