
mixin seminar-screen(data)
	.seminar-screen&attributes(attributes)
		.seminar-screen__container.main-container
			.seminar-screen__wrap
					.seminar-screen__content
						.seminar-screen__title
							| Финансовый
							br
							| практикум
						.seminar-screen__desc
							| Проверьте свои знания и прокачайте финансовую грамотность