include decor-live

mixin seminar-live(data)
	a(href="#").seminar-live&attributes(attributes)
		.seminar-live__shadow.seminar-live__shadow_pos_left
		.seminar-live__container
			.seminar-live__wrap
				.seminar-live__column.seminar-live__column_pos_1
					.seminar-live__content
						//.seminar-live__icon
							+decor-live({"title": "live"})
						.seminar-live__title
							| Прямой эфир /  &#32; &#32;
							br
							span.seminar-live__time
								| &#32; 13:00
							span.seminar-live__icon
								+decor-live({"title": "live"})
						.seminar-live__subtitle
						.seminar-live__name
							| Инвестиции vs Риски. Что нужно &#32;
							br
							|знать начинающему инвестору
						.today-live__person
							.today-live__person-img-box
								img(src="assets/img/main/live_3.png", alt='').today-live__person-img
							.today-live__person-desc
								| Прямой эфир с заместителем
								br
								| Председателя Банка России
								br
								b Русланом Вестеровским


				.seminar-live__column.seminar-live__column_pos_2
					.seminar-live__img-box
						img.seminar-live__img.seminar-live__img_show_desc(src="assets/img/main/microphone.png", alt='')



