mixin seminar-photo(data)
	a(href="#").seminar-photo&attributes(attributes)
		.seminar-photo__shadow.seminar-photo__shadow_pos_left
		.seminar-photo__container
			.seminar-photo__wrap
				.seminar-photo__content
					.seminar-photo__title
						| Фото на память
					.seminar-photo__desc Сделайте фото, заряженное на финансовый успех, или примерьте маску!
