mixin seminar-brain(data)
	a(href="#").seminar-brain&attributes(attributes)
		.seminar-brain__shadow.seminar-brain__shadow_pos_right
		.seminar-brain__container
			.seminar-brain__wrap
				.seminar-brain__column.seminar-brain__column_pos_1
					.seminar-brain__img-box
						img.seminar-brain__img.seminar-brain__img_show_desc(src="assets/img/main/question.png", alt='')


				.seminar-brain__column.seminar-brain__column_pos_2
					.seminar-brain__content
						.seminar-brain__title
							| «Мозгобойня»
						.seminar-brain__desc Соберите свою команду и сыграйте в финансовый квиз
