
mixin seminar-say(data)
	a(href="#").seminar-say&attributes(attributes)
		.seminar-say__shadow.seminar-say__shadow_pos_left
		.seminar-say__container
			.seminar-say__wrap
				.seminar-say__column.seminar-say__column_pos_1
					.seminar-say__content
						.seminar-say__title
							| Своими словами
						.seminar-say__desc
							| Что такое работа в Банке России?
							br
							| Рассказывают сами сотрудники



				.seminar-say__column.seminar-say__column_pos_2
					.seminar-say__img-box
						img.seminar-say__img.seminar-say__img_show_desc(src="assets/img/main/tv.png", alt='')

