
mixin seminar-fight(data)
	a(href="#").seminar-fight&attributes(attributes)
		.seminar-fight__shadow.seminar-fight__shadow_pos_left
		.seminar-fight__container
			.seminar-fight__wrap
				.seminar-fight__column.seminar-fight__column_pos_1
					.seminar-fight__content
						.seminar-fight__title
							| Финансовая
							br
							| самооборона
						.seminar-fight__desc
							| Вычислите мошенников в игре
							br
							| на внимательность



				.seminar-fight__column.seminar-fight__column_pos_2
					.seminar-fight__img-box
						img.seminar-fight__img.seminar-fight__img_show_desc(src="assets/img/main/monster.png", alt='')

