mixin seminar-habit(data)
	a(href="#").seminar-habit&attributes(attributes)
		.seminar-habit__shadow.seminar-habit__shadow_pos_right
		.seminar-habit__container
			.seminar-habit__wrap
				.seminar-habit__content
					.seminar-habit__title
						| Полезные финансовые
						br
						| привычки
					.seminar-habit__desc Выберите себе новую
