mixin seminar-who(data)
	a(href="#").seminar-who&attributes(attributes)
		.seminar-who__shadow.seminar-who__shadow_pos_right
		.seminar-who__container
			.seminar-who__wrap
				.seminar-who__column.seminar-who__column_pos_1
					.seminar-who__content
						.seminar-who__title
							| Кто вы в мире финансов
						.seminar-who__desc Новичок, знаток или мастер? Проверьте свой уровень финансовой грамотности и узнайте, как его прокачать

				.seminar-who__column.seminar-who__column_pos_2
					.seminar-who__img-box
						img.seminar-who__img.seminar-who__img_show_desc(src="assets/img/main/money-man.png", alt='')