mixin soc(data)
	.soc&attributes(attributes)
		.soc__wrap
			a(href="#").soc__item
				img(src="assets/img/modal_fb.png", alt='').soc__img
			a(href="#").soc__item
				img(src="assets/img/modal_vk.png", alt='').soc__img
			a(href="#").soc__item
				img(src="assets/img/modal_ok.png", alt='').soc__img
			a(href="#").soc__item
				img(src="assets/img/modal_tw.png", alt='').soc__img