mixin today-constructor(data)
	a(href="#").today-constructor&attributes(attributes)
		.today-constructor__shadow.today-constructor__shadow_pos_right
		.today-constructor__container
			.today-constructor__wrap
				.today-constructor__content
					.today-constructor__title
						| Онлайн-конструктор денег
					.today-constructor__desc Попробуйте себя в роли дизайнера банкнот!
