include decor-live

mixin today-live(data)
	a(href="#").today-live&attributes(attributes)
		.today-live__shadow.today-live__shadow_pos_left
		.today-live__container
			.today-live__wrap
				.today-live__column.today-live__column_pos_1
					.today-live__content
						//.today-live__icon
							+decor-live({"title": "live"})
						.today-live__title
							| Прямой эфир /  &#32; &#32;
							br
							span.today-live__time
								| &#32; 15:00 &#32;
							span.today-live__icon
								+decor-live({"title": "live"})
						.today-live__name
							| Кто и как работает
							br
							| в Банке России
						.today-live__person
							.today-live__person-img-box
								img(src="assets/img/main/live_2.png", alt='').today-live__person-img
							.today-live__person-desc
								| Прямой эфир с первым
								br
								| заместителем Председателя Банка
								br
								b Сергеем Швецовым


				.today-live__column.today-live__column_pos_2
					.today-live__img-box
						img.today-live__img.today-live__img_show_desc(src="assets/img/main/microphone.png", alt='')



