mixin today-tetris(data)
	a(href="#").today-tetris&attributes(attributes)
		.today-tetris__shadow.today-tetris__shadow_pos_right
		.today-tetris__container
			.today-tetris__wrap
				.today-tetris__content
					.today-tetris__title
						| Банк России:
						br
						| Тетрис-симулятор
					.today-tetris__desc Собираем устойчивую экономику
