mixin today-tetris(data)
	a(href="#").today-tetris&attributes(attributes)
		.today-tetris__shadow.today-tetris__shadow_pos_right
		.today-tetris__container
			.today-tetris__wrap
				.today-tetris__content
					.today-tetris__title
						| Финансовы
						br
						| конструктор
					.today-tetris__desc Соберите все уровни и узнайте, из чего состоит финансовый рынок
