
mixin today-way(data)
	a(href="#").today-way&attributes(attributes)
		.today-way__shadow.today-way__shadow_pos_right
		.today-way__container
			.today-way__wrap
				.today-way__column.today-way__column_pos_1
					.today-way__content
						.today-way__title
							| ЦБ онлайн
						.today-way__desc
							| Скачайте мобильное приложение и будьте на связи с Банком России



				.today-way__column.today-way__column_pos_2
					.today-way__img-box
						img.today-way__img.today-way__img_show_desc(src="assets/img/main/bank.png", alt='')


