

mixin today-mobile-app(data)
	a(href="#").today-mobile-app&attributes(attributes)
		.today-mobile-app__shadow.today-mobile-app__shadow_pos_left
		.today-mobile-app__container
			.today-mobile-app__wrap
				.today-mobile-app__column.today-mobile-app__column_pos_1
					.today-mobile-app__content
						.today-mobile-app__title
							| Мобильное приложение «ЦБ онлайн»

				.today-mobile-app__column.today-mobile-app__column_pos_2
					.today-mobile-app__img-box
						img.today-mobile-app__img.today-mobile-app__img_show_desc(src="assets/img/main/bank.png", alt='')



