
mixin today-our-work(data)
	a(href="#").today-our-work&attributes(attributes)
		.today-our-work__shadow.today-our-work__shadow_pos_right
		.today-our-work__container
			.today-our-work__wrap
				.today-our-work__content
					.today-our-work__title
						| Чем занимается
						br
						| Банк России?
					.today-our-work__img-box
						img.today-our-work__img(src="assets/img/main/our-work-play.png", alt='')

