
mixin today-screen(data)
	a(href="#").today-screen&attributes(attributes)
		.today-screen__shadow
		.today-screen__container.main-container
			.today-screen__wrap
					.today-screen__content
						.today-screen__title
							| Банк России
							br
							| сегодня
						.today-screen__desc
							| Как устроен Центральный Банк и в чем его основные функции?
