
mixin today-finance-market(data)
	a(href="#").today-finance-market&attributes(attributes)
		.today-finance-market__shadow.today-finance-market__shadow_pos_left
		.today-finance-market__container
			.today-finance-market__wrap
				.today-finance-market__column.today-finance-market__column_pos_1
					.today-finance-market__img-box
						img.today-finance-market__img.today-finance-market__img_show_desc(src="assets/img/main/virtual-tour.png", alt='')


				.today-finance-market__column.today-finance-market__column_pos_2
					.today-finance-market__content
						.today-finance-market__title
							| Банк России —
							br
							| мегарегулятор
							br
							| финансового рынка
						.today-finance-market__desc
							| Что это означает и какие функции выполняет Центральный банк сегодня?


