
mixin today-say(data)
	a(href="#").today-say&attributes(attributes)
		.today-say__shadow.today-say__shadow_pos_left
		.today-say__container
			.today-say__wrap
				.today-say__column.today-say__column_pos_1
					.today-say__content
						.today-say__title
							| Своими словами
						.today-say__desc
							| Как работает Банк России? Рассказывают
							br
							| сами сотрудники



				.today-say__column.today-say__column_pos_2
					.today-say__img-box
						img.today-say__img.today-say__img_show_desc(src="assets/img/main/tv.png", alt='')

