
mixin today-way(data)
	a(href="#").today-way&attributes(attributes)
		.today-way__shadow.today-way__shadow_pos_right
		.today-way__container
			.today-way__wrap
				.today-way__column.today-way__column_pos_1
					.today-way__img-box
						img.today-way__img.today-way__img_show_desc(src="assets/img/main/virtual-tour.png", alt='')


				.today-way__column.today-way__column_pos_2
					.today-way__content
						.today-way__title
							| Инфографика
							br
							| «Карьерный путь»
						.today-way__desc
							| Найдите карьеру в Банке России, которая подходит именно вам


