
include timer

mixin top-screen(data)
	.top-screen&attributes(attributes)
		.top-screen__container.main-container
			.top-screen__logo-wrap
				img.top-screen__logo(src="assets/img/logo_white.png", alt='')
			.top-screen__title
				| До дня открытых дверей
				br
				| &#32; осталось
			.top-screen__timer
				+timer()
			.top-screen__btn-wrap
				a(href="#modal-say" data-fancybox).top-screen__btn.btn Рассказать друзьям
