mixin welcome-box(data)
	.welcome-box&attributes(attributes)
		.welcome-box__container.main-container
			.welcome-box__wrap
				.welcome-box__column.welcome-box__column_pos_1
					.welcome-box__content
						.welcome-box__title
							| Добро пожаловать!
						.welcome-box__subtitle
							| 3 октября с 8:00 до 20:00 на этой странице состоится
							|	День открытых дверей Банка России — впервые
							|в online-формате.
						.welcome-box__desc
							| Что ждет посетителей? Online-игры, викторины, тесты, прямые эфиры и многое другое.
							| Вы сможете создать свой дизайн банкнот, сыграть в банковский Тетрис, проверить уровень финансовой грамотности, сделать фото в 3D-маске - в общем, увлекательных занятий хватит на весь день.
							br
							br
							| Кстати, мы уже приготовили памятные сувениры для самых активных участников. Кажется, уже есть достаточно поводов, чтобы сохранить сайт в закладки, не так ли? 😊
				.welcome-box__column.welcome-box__column_pos_2
					.welcome-box__bg